# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/semestralna_praca_POS_klient/nbproject/
/semestralna_praca_POS_klient/nbproject/*
/semestralna_praca_POS_server/nbproject/
/semestralna_praca_POS_server/nbproject/*
